@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

.ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
    font-weight: normal;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }

  body{
      background-color: #9ba5b5;
      color: white;
      font-family: 'Abril Fatface', cursive;
      place-content: center;
      place-items: center;
      display: flex;
      flex-direction: column;
      width:100%;
      overflow: hidden;
  }

  a{
    color:white;
  }