form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.form-divider{
    display: flex;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    outline: none;
    border:1px solid black;
    border-radius: 5px;
    margin:25px 8px;
    padding:12px 24px;
}

label{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

legend{
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

select{
    padding:12px 32px;
    margin: 5px 4px 0 4px;
    font-size: 22px;
    outline:none;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Darker Grotesque', sans-serif;
}

input[type='text'], input[type='email']{
    padding:12px 32px;
    margin: 5px 4px 0 4px;
    font-size: 22px;
    outline:none;
    border-radius: 5px;
    border: 1px solid black;
    width:500px;
    font-family: 'Darker Grotesque', sans-serif;
}

input[type='submit']{
    padding:12px 32px;
    margin: 5px 4px 0 4px;
    font-size: 22px;
    outline:none;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: rgb(116, 107, 11);
    width:500px;
    cursor: pointer;
    font-family: 'Darker Grotesque', sans-serif;
}