@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    margin:0 auto;
    background-color: yellowgreen;
}

.main{
    display:flex;
    width:100%;
    margin:0 auto;
    padding: 80px 20px 0 20px;
}

img{
    width:50px;
    height:50px;
    float:right;
    margin:5px;
}

.side-right{
    margin: 0 80px;
    font-weight: bold;
}

h1{
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;
    font-size: 80px;
}

p{
    font-family: 'Verdana, Arial', sans-serif;
    font-size: 21px;
    text-align: justify;
}

.list-div{
    width:100%;
    text-align: center;
}

ol{
    display: flex;
    font-family: 'Darker Grotesque', sans-serif;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 40px 0 20px;
    list-style-type: upper-roman;
}

li{
    margin: 6px 10px;
    font-size: 18px;
}

nav ol li a{
    font-weight: bolder;
    color:black;
    
}

@media print{
    img{
        width:0;
        height:0;
    }

    nav ol li a{
        font-weight: bolder;
        color:green;
    }

    p{
        font-family: 'Arial', sans-serif; 
    }

}