@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.banner{
    background:url("w.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100vh;
    display: grid;
    place-content: center;
    place-items: center;
    color:white;

}

h1{
    font-size: 80px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.about{
    letter-spacing: 2px;
    font-weight: 500;
}

.button-container{
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:black;
    font-family: 'Raleway', sans-serif;
    margin-top: 25px;
    background-color: rgb(180,180,180);
    padding:24px 32px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 10px;
}

nav{
    position: fixed;
    width:100%;
    top:0;
    left:0;
    padding: 12px 0;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body{
    padding:0;
    margin:0;
    width:100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.intro{
    display: grid;
    width:100%;
    height:100vh;
    place-content: center;
    place-items: center;
}

#panel, #flip {
    padding: 24px 24px;
    text-align: center;
    background-color: grey;
    width:1200px;
    color:white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
  }
  
  #panel {
    display: none;
  }

  .photo-grids{
      display:flex;
      flex-wrap: wrap;
  }

  .photo-grids img{
      width:290px;
      margin-right: 10px;
      margin-top:10px;
  }

  .contact{
      width:100%;
      display:grid;
      place-content: center;
      place-items: center;
      height:100vh;
      background-color: grey;
      font-weight: 600;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.form-divider{
    display: flex;
    justify-content: center;
}

fieldset{
    display: flex;
    flex-direction: column;
    outline: none;
    border:1px solid black;
    border-radius: 5px;
    margin:25px 8px;
    padding:12px 24px;
}

label{
    font-weight: 700;
    font-size: 32px;
}

legend{
    font-weight: 700;
    font-size: 32px;
}

select{
    padding:12px 32px;
    margin: 5px 4px 0 4px;
    font-size: 22px;
    outline:none;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid black;
}

input[type='text'], input[type='email']{
    padding:12px 32px;
    margin: 5px 4px 0 4px;
    font-size: 22px;
    outline:none;
    border-radius: 5px;
    border: 1px solid black;
    width:500px;
    font-family: 'Raleway', sans-serif;
}

input[type='submit']{
    padding:12px 32px;
    margin: 5px 4px 0 4px;
    font-size: 22px;
    outline:none;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: black;
    width:500px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}