@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@500&family=League+Gothic&family=Poppins:wght@600&family=Roboto+Mono:wght@500&display=swap');

table {
    border-collapse: collapse;
    width: 90%;
    background-color: whitesmoke;
}

th{
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
    background-color: #E24E1B;
    font-weight: normal;
    color:white;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.row1{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    
}

.row2{
    font-family: 'Fredoka', sans-serif;
    font-size: 22px;
    color:#FF0000;
}

.row3{
    font-family: 'League Gothic', sans-serif;
    font-size: 26px;
    color: #DA7635;
}

.row4{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color:#654236;
}

.row5{
    font-family: 'Roboto Mono', monospace;
    font-size: 34px;
    color:#DB995A;
}

  



